<section class="get-started">
    <div class="get-started__inner ">
        <div id="getStarted" class="get-started__form">
            <h3 class="get-started__form-title heading-h3">Let’s level up your brand</h3>
            <p class="get-started__form-descr text-p-medium">
                You can reach us anytime hello 
                <a class="get-started__form-descr-link" href="mailto:sansbrothers@gmail.com">sansbrothers@gmail.com</a>
            </p>

            <form class="get-started__form-form" action="https://formspree.io/f/mnqvydqv" method="POST">
                <div class="get-started__form-upper">
                    <div class="get-started__form-name">
                        <label class="get-started__form-label text-p-small" for="name">First name</label>
                        <input class="get-started__form-input" type="text" name="name" placeholder="First name" required />
                    </div>

                    <div class="get-started__form-name">
                        <label class="get-started__form-label text-p-small" for="last-name">Last name</label>
                        <input class="get-started__form-input" type="text" name="last-name" placeholder="Last name" required />
                    </div>
                </div>
                <div  class="get-started__form-name">
                    <label class="get-started__form-label text-p-medium-small" for="email">Email</label>
                    <input class="get-started__form-input" type="email" name="email" placeholder="Your email" required />
                </div>
                <div class="get-started__form-name">
                    <label class="get-started__form-label text-p-small" for="phone">Phone</label>
                    <input class="get-started__form-input" type="tel" id="phone" name="phone" required />
                </div>
                <div class="get-started__form-name">
                    <label class="get-started__form-label text-p-small" for="message">Message</label>
                    <textarea class="get-started__form-textarea get-started__form-input" name="message" placeholder="Leave us a message..."></textarea>
                </div>
                <button class="get-started__form-button button button--primary text-p-default" type="submit">Get started</button>
            </form>


        </div>
        <img class="get-started__image" src="/images/get-started.jpg"
            loading="lazy" width="987" height="885"
            alt="Woman with man gives five each other" />

    </div>
</section>