<section class="partners">
    <div class="container">

        <div class="mini-container">
            <div class="partners__descript">
                <h2 class="partners__title heading-h2">
                    890+
                </h2>
                <p class="partners__subtitle">
                    some big companies that we work with, and trust us very much
                </p>
            </div>
            <ul class="partners__list">
                <li class="partners__item">
                    <img src="/svg/Airbnb-logo.svg" alt="Airbnb logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/Amazon-logo.svg" alt="Amazon logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/FedEx-logo.svg" alt="FedEx logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/Microsoft-logo.svg" alt="Microsoft logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/Google-logo.svg" alt="Google logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/OLA-logo.svg" alt="OLA logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/Walmart-logo.svg" alt="Walmart logo" width="120" height="40" loading="lazy"/>
                </li>
                <li class="partners__item">
                    <img src="/svg/OYO-logo.svg" alt="OYO logo" width="120" height="40" loading="lazy"/>
                </li>
            
            </ul>
        </div>
    </div>  
</section>