<section class="features">
    <div class="container features__container">
        <div class="features__left">
            <img src="/images/woman_with_laptop.jpg" alt="Woman typing on a laptop" width="585" height="651"
                class="features__img" />
            <div class="features__stats">
                <div class="features__stats-head">
                    <h4 class="features__stats-title ">Statictic</h4>
                    <img src="/svg/dots.svg" loading="lazy" alt="Stats icon" />

                </div>

                <div class="features__stats-body">
                    <img src="/svg/Group961.svg" loading="lazy" alt="stistics" />
                    <div class="features__stats-item">
                        <h5 class="features__stats-item-title">Total Income</h5>
                        <div class="features__stats-item-price">
                            <span class="features__stats-item-price-num">$7.020</span>
                            <span class="features__stats-item-price-persent up">15%</span>
                        </div>
                        <div class="features__stats-item-descript">
                            Your <span>Income</span> of this month compared to last month
                        </div>
                    </div>

                </div>
                <div class="features__stats-body">
                    <img src="/svg/Group962.svg" loading="lazy" alt="stistics" />
                    <div class="features__stats-item">
                        <h5 class="features__stats-item-title">Total Expense</h5>
                        <div class="features__stats-item-price">
                            <span class="features__stats-item-price-num">$2.150</span>
                            <span class="features__stats-item-price-persent down">10%</span>
                        </div>
                        <div class="features__stats-item-descript">
                            Your <span>Expanse</span> of this month compared to last month
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="features__right">
            <h2 class="features__title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <h6 class="features__subtitle heading-h6">
                Automate your sales, marketing and
                service in one platform. Avoid date
                leaks and enable consistent messaging
            </h6>
            <ul class="features__list">
                <li class="features__item ">
                    Close more deals with single - page contact managment
                </li>
                <li class="features__item ">
                    Enjoy one-click calling, call scripts and voicemail automation
                </li>
                <li class="features__item ">
                    Take stages and milestones of your deals to keep the sales process an track
                </li>
            </ul>
        </div>
    </div>
</section>