<section class="insight">
    <div class="container">
        <h2 class="insight__title heading-h2">Trending news from Coca</h2>
        <p class="insight__subtitle text-p-medium">we have some new Service to pamper you</p>
        
        <div class="swiper insight__swiper">
            <div class="insight__swiper-btns">
                <img src="/svg/btns.svg" alt="">
            </div>
            <div class="swiper-wrapper insight__slider">
                <div class="swiper-slide insight__article">
                    <img class="insight__article-img" src="/images/insight__img-1.jpg"
                        alt="man that writing on notebook" width="582" height="332" loading="lazy" />
                    <div class="insight__article-head">
                        <div class="insight__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="insight__article-author">
                            by : Albert Sans
                        </address>
                    </div>
                    <h3 class="insight__article-title heading-h5">
                        What makes an authentic employee profile, and why does it matter ?
                    </h3>
                </div>
                <div class="swiper-slide insight__article">
                    <img class="insight__slide-img" src="/images/insight__img-2.jpg" alt="man that writing on laptop"
                        width="582" height="332" loading="lazy" />
                    <div class="insight__article-head">
                        <div class="insight__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="insight__article-author">
                            by : Albert Sans
                        </address>
                    </div>
                    <h3 class="insight__article-title heading-h5">
                        How to build a Kaylen relationship with a good company

                    </h3>

                </div>
                <div class="swiper-slide insight__article">
                    <img class="insight__slide-img" src="/images/insight__img-2.jpg" alt="man that writing on laptop"
                        width="582" height="332" loading="lazy" />
                    <div class="insight__article-head">
                        <div class="insight__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="insight__article-author">
                            by : Albert Sans
                        </address>
                    </div>
                    <h3 class="insight__article-title heading-h5">
                        How to build a Kaylen relationship with a good company

                    </h3>

                </div>
            </div>

        </div>
    </div>
</section>