<section class="strench">
    <div class="container">
        <ul class="strench__list">
            <li class="strench__item">
                <h3 class="strench__item-title heading-h2">17k</h3>
                <p class="strench__item-descript text-p-default">happy customers on<br/> worldwide</p>
            </li>
            <li class="strench__item">
                <h3 class="strench__item-title heading-h2">15+</h3>
                <p class="strench__item-descript text-p-default">Hours of work<br/> experience</p>
            </li>
            <li class="strench__item">
                <h3 class="strench__item-title heading-h2">50+</h3>
                <p class="strench__item-descript text-p-default">Creativity & passionate<br/> members</p>
            </li>
            <li class="strench__item">
                <h3 class="strench__item-title heading-h2">100+</h3>
                <p class="strench__item-descript text-p-default">Integrations lorem<br/> ipsum integrations</p>
            </li>
        </ul>
        <img class="strench__img" src="/images/Peoples.jpg" alt="group of people" width="1200" height="536" loading="lazy"/>
        <div class="strench__info">
            <h2 class="strench__info-title heading-h2">
                Lift your business to new heights with our digit al marketing services
            </h2>
            <p class="strench__info-descript text-p-default">
                To build software that gives customer facing teams in small and medium-sized 
                businesses the ability to create rewarding and long-lasting relationships with customers
            </p>
        </div>
    </div>
</section>